<nav>
  <div class="nav-wrapper row">
    <a class="col s4 brand-logo left"><img src="./assets/images/civrev_logo.png"></a>
    <ul id="nav" class="right">
      <li><a *ngIf="loggedIn" (click)="logInOut()" routerLink="/welcome" class="waves-effect waves-light btn">Log Out</a></li>
    </ul>
  </div>
</nav>

<div *ngIf="!loggedIn" class="row">
  <div class="spacer col s12"></div> 
  <form class="col l4 offset-l4 m6 offset-m3 s10 offset-s1">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div *ngIf="showConfirmPasswordField" class="input-field col s12">
        <input value="" id="confirm-password" type="text" class="validate">
        <label for="confirm-password">Confirm Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a (click)="signUpShowHide()" *ngIf="showConfirmPasswordField" class="waves-effect waves-light btn">Sign In</a>
        <a (click)="signUpShowHide()" *ngIf="!showConfirmPasswordField" class="waves-effect waves-light btn">Sign Up</a>
        <a (click)="logInOut()" routerLink="/dashboard" class="waves-effect waves-light btn">Submit</a>
      </div>
    </div>
  </form>
</div>